<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">All quizzes</h2>

        <div class="form-inline">
            <label>Select category: </label>
            <select ng-model="ctrl.selectedCategory" ng-click="ctrl.filterCategory()">
                <option value="" selected="selected">All</option>
                <option ng-repeat="category in ctrl.categories">{{ category }}</option>
            </select>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Count of questions</th>
                    <th>Attempts/passes</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="quiz in ctrl.quizzes"
                    ng-click="ctrl.openQuiz(quiz.id)"
                    class="quiz-preview">

                    <td>{{ quiz.name }}</td>
                    <td>{{ quiz.category }}</td>
                    <td>{{ quiz.author }}</td>
                    <td>{{ quiz.countOfQuestions }}</td>
                    <td>{{ quiz.passesCount }}/{{ quiz.attemptsCount }}</td>
                </tr>
            </tbody>
        </table>

        <a ui-sref="addQuiz" class="btn btn-primary">Add quiz</a>
    </div>
</div>