<div>
    <h1>Upload JSON or XML file here</h1>
</div>
<div layout="row">
    <div>
        <input class="ng-hide" ngf-select ng-model="ctrl.file" name="file"
               id="input-file-id" accept="*" ngf-max-size="2MB" required />
        <label for="input-file-id" class="md-button md-raised md-primary">Choose File</label>
    </div>
    <div>
        <span>{{ ctrl.file.name }}</span>
        <md-button ng-if="ctrl.file.name" ng-click="ctrl.upload()">Upload</md-button>
        <span>
            <i ng-if="ctrl.status === 'success'" class="fa fa-check" aria-hidden="true"></i>
            <i ng-if="ctrl.status === 'error'" class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
</div>


