@model Quizzz.Models.NewTestViewModel

@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script src="~/Client/scripts/main.js"></script>
}

@section Styles {
    <link href="~/Client/styles/main.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Test creator</h2>

        <form>
            <div class="form-group">
                <label for="Author">Author:</label>
                <input data-bind="text: author" type="text" class="form-control" id="Author">
            </div>
            <div class="form-group">
                <label for="Question">Question:</label>
                <textarea data-bind="text: question" class="form-control" id="Question"></textarea>
            </div>
            <label for="Question">Answers:</label>
            <div data-bind="foreach: answers">
                <div class="form-inline form-group">
                    <div class="form-group">
                        <div class="input-group">
                            <input data-bind="text: answerString" type="text" class="form-control">
                            <span class="input-group-addon">
                                <input data-bind="checked: isCorrect" type="checkbox">
                            </span>
                        </div>
                    </div>
                    <button data-bind="click: $parent.removeAnswer" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <button data-bind="click: addAnswer" class="btn btn-success">Add answer</button>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="Category">Category:</label>
                        <input data-bind="text: category" type="text" class="form-control" id="Category">
                    </div>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" name="type-radio" value="json" checked="checked">JSON
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="type-radio" value="xml">XML
                        </label>
                    </div>
                    <button data-bind="click: generateQuizz" class="btn btn-primary">Generate</button>
                </div>
            </div>
        </form>
    </div>
</div>