<section layout="row" flex="">
	<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
		<md-toolbar>
			<h1 class="md-toolbar-tools">{{ appCtrl.userName }}</h1>
		</md-toolbar>
		<md-content layout-padding ng-controller="SidenavCtrl as navCtrl">
			<md-list>
				<md-list-item ng-repeat="link in navCtrl.links" class="noright" ng-click="navCtrl.click(link)">
					<p>{{ link.name }}</p>
				</md-list-item>
				<md-list-item ng-click="navCtrl.extLink('/manage')">
					Profile
				</md-list-item>
				<md-list-item ng-click="navCtrl.logout()">
					Logout
				</md-list-item>
			</md-list>
		</md-content>

	</md-sidenav>

	<md-content flex>
		<md-toolbar class="app-toolbar md-whiteframe-z2 fix-top">
			<div class="md-toolbar-tools" tabindex="0">
				<md-button hide-gt-md class="menu" ng-click="appCtrl.toggleRight()">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</md-button>
				<h1>{{ appCtrl.route.currentPageTitle }}</h1>
			</div>
		</md-toolbar>
		<div layout="row" class="md-padding">
			<div flex="100" flex-gt-sm="60" flex-offset-gt-sm="20">
				<ui-view></ui-view>
			</div>
		</div>
	</md-content>
</section>