<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">All quizzes</h2>

        <h4>{{ ctrl.currentQuestion.questionBody }}</h4>
        <div ng-repeat="answer in ctrl.currentQuestion.answers" class="form-group">
            <label><input type="checkbox" ng-model="answer.isChecked" name="" value=""> {{ answer.answerBody }}</label>
        </div>

        <button ng-click="ctrl.nextQuestion()" type="button" class="btn btn-primary">Next</button>
        <a ui-sref="index" class="btn btn-danger">Back to quiz list</a>
    </div>
</div>