<div layout="row" layout-align="end center">
	<h3>Time: {{ ctrl.getLeftoverTime() }}</h3>
</div>

<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">
                <span>{{ ctrl.currentQuestion.id }}</span>. {{ ctrl.currentQuestion.questionBody }}
			</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-content>
		<div ng-repeat="answer in ctrl.currentQuestion.answers" class="quiz-options">
			<md-checkbox ng-model="answer.isChecked" aria-label="Checkbox 1">
				{{ answer.answerBody }}
			</md-checkbox>
		</div>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		<div ng-if="!ctrl.currentQuestion.wasSkipped" class="quiz-btn">
            <md-button ng-click="ctrl.skipQuestion()">Skip</md-button>
        </div>
        <div class="quiz-btn">
            <md-button ng-click="ctrl.nextQuestion()">Next</md-button>
        </div>
        <div class="quiz-btn">
            <a ui-sref="play.all">
                <md-button aria-label="Back to quiz-list" class="md-raised md-warn"> Back to quiz list </md-button>
            </a>
        </div>
	</md-card-actions>
</md-card>