// .quiz-preview {
//     cursor: pointer;
// }

.category-selector {
    margin-left: 15px;

    p {
        margin-top: 28px;
        margin-right: 20px;
    }
}

.success-attempts-count {
    color: #009688;
}

.success-attempts-count-red {
    color: red;
}

.success-medal {
    margin: 5px 0;
    width: 50%;
    height: 50%;
}